<!--
File: blog.html
Author: Takirul
Date: March 28, 2024
Description: This file contains the HTML code for the blog page of the website.
It includes a title, and two buttons for showing statistics and event planning.
-->

<!-- CSS for button styling -->
<style>
    .btn {
        /* Adds a 10px margin around the buttons */
        margin: 10px;
    }
</style>

<!-- Blog Title -->
<h1 class="mb-5"> Blog</h1>

<!-- Statistics Button -->
<div class="col-4 col-md-4">
    <!-- The 'data' attribute is used to identify the button -->
    <!-- The 'fa-chart-line' icon represents statistics -->
    <a data="statistics" class="btn btn-primary">
        <i class="fa-solid fa-chart-line"></i> Show Statistics</a>
</div>

<!-- Event Planning Button -->
<div class="col-4 col-md-4">
    <!-- The 'data' attribute is used to identify the button -->
    <!-- The 'fa-calendar-days' icon represents event planning -->
    <a data="event-planning" class="btn btn-primary">
        <i class="fa-solid fa-calendar-days"></i> Show Event</a>
</div>
