<!--
File: contact-list.html
Author: Takirul
Date: March 28, 2024
Description: This file contains the HTML code for the contact list page of the website.
It includes a table for displaying the contact list and a button for adding a new contact.
-->

<!-- Contact List Page Title -->
<h1>Contact List</h1>

<div class="row">
    <div class="col">

        <!-- Add Contact Button -->
        <button id="addButton" class="btn btn-primary btn-sm mb-1">
            <i class="fa fa-plus fa-sm"></i> Add Contact
        </button>

        <!-- Contact List Table -->
        <table class="table table-striped table-boarded table-hover">

            <!-- Table Header -->
            <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email Address</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <!-- Table Body -->
            <tbody id="contactList"></tbody>
        </table>
    </div>
</div>
