<!--
File: login.html
Author: Takirul
Date: March 28, 2024
Description: This file contains the HTML structure for the Login page.
-->

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">

        <!-- Login Form Container -->
        <div class="login" id="contentArea">

            <!-- Login Form Heading -->
            <h1 class="display-4">Login</h1>

            <!-- Login Form -->
            <form id="loginForm" novalidate>

                <!-- Message Area -->
                <div id="messageArea"></div>

                <!-- Username Input -->
                <div class="form-group mb-2">
                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user">
                    </i>
                  </span>
                        <input type="text" class="form-control" id="username" name="username"  required
                               autocomplete="username" placeholder="Enter your username">
                    </div>

                </div>

                <!-- Password Input -->
                <div class="form-group mb-2">
                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock">
                    </i>
                  </span>
                        <input type="password" class="form-control" id="password" name="password"  required
                               autocomplete="current-password" placeholder="Enter your password">
                    </div>

                </div>

                <!-- Login and Clear Buttons -->
                <div class="text-end">
                    <button id="loginButton" type="button" class="btn btn-primary btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Login</button>
                    <button id="clearButton" type="button" class="btn btn-warning btn-lg">
                        <i class="fas fa-undo"></i> Clear</button>
                </div>
            </form>

        </div>

        <!-- Registration Link -->
        <p class="text-center text-muted small">
            Don't have an account?
            <a class="link" data="register">Register Here!</a>
        </p>

    </div>
</div>
