<h1 class="mb-5"><%= title %></h1>
<div id="messageArea"></div>

<div class="row justify-content-lg-center g-3">
    <form class="col-lg-6 col-md-10 col-sm-10" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text">Post Title</span>
            <input id="postTitle" name="postTitle" type="text" class="form-control"
                   value="<%= post.PostTitle %>"
                   aria-describedby="Post Title" aria-label="Post Title Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Post User</span>
            <input id="postUser" name="postUser" type="text" class="form-control"
                   value="<%= post.PostUser %>"
                   aria-describedby="Post User" aria-label="Post User Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Post Comment</span>
            <textarea  id="postComment" name="postComment" type="text" class="form-control"
                       aria-describedby="Post Comment" aria-label="Post Comment Input" required><%= post.PostComment %>
            </textarea>
        </div>

        <% if(title === 'Edit Post'){%>
            <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <%} else {%>
            <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus fa-lg"></i> Add</button>
        <%}%>

        <a href="/community-posts" id="cancelButton" type="button" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i> Cancel</a>
    </form>
</div>